rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone with your Firestore database reference to view, edit,
    // and delete all data in your Firestore database. It is useful for getting
    // started, but it is configured to expire after 30 days because it
    // leaves your app open to attackers. At that time, all client
    // requests to your Firestore database will be denied.
    //
    // Make sure to write security rules for your app before that time, or else
    // all client requests to your Firestore database will be denied until you Update
    // your rules
    match /users/{user_id} {
      allow read, create: if request.auth.uid != null;
      allow update: if request.auth.uid ==  user_id;
    }
    match /projects/{project_id}{
      allow read, create, update: if request.auth.uid != null;
      allow delete: if request.auth.uid == resource.data.created_by.id;
    }
  }
  //users collection
  //-ANY Athenticated USER CAN READ AND create 
  //only users who "own/created" a document can update it

  //projects collection
  //-ANY Athenticated USER CAN READ AND create and update
  //only users who "own/created" a document can delete it
}